/* CSS declarations go here */
body
  margin 0 auto
  background #FFF
  border-top 5px solid #000
  width 100%

#soon
  top 0; right 0; bottom 0; left 0;
  position absolute
  margin auto
  width 400px
  height 341px
  background: url('dynamo-logo.png') no-repeat

  h1
    font-family 'Lato', serif
    font-size 2em
    font-weight: bold
    color #9eb7c5
    text-indent: 30px
    margin-top 350px

    span
      color #000
      font-size 1em
      font-weight: lighter
      padding-left 200px
